.home-container {
    width: 100%;
    height: 100vh;  /* Full Screen */
    background-size: cover;  /* Cover full area */
    background-position: center;  /* Always center */
    background-repeat: no-repeat;  /* No repeat */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .home-content {
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* backdrop-filter: brightness(0.9); */
  }
  
  .banner-button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    background-color: rgb(191,0,0);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
  }

  .home-content img {
    margin-top: -18vh;
    height: 20vh;
    border-radius: 25px;
  }

  .dividingline {
    height: 0.5vh;
    width: 70vh;
    border-radius: 50%;
    background-color: rgb(191,0,0);

  }
  .home-content h3 , h1 {
    color: rgb(191,0,0);
  }
  .home-content h1 {
    margin-top: -0.1svh;
  }
  
  .banner-button:hover {
    background-color: darkred;
  }
  
  





  @media screen and (max-width: 768px) {


    .home-content h1{
      font-size: 25px;
    }
    .home-content h3{
      margin-bottom: -0.2vh;
      font-size: 15px;
    }
    .dividingline {
      height: 0.4vh;
      width: 40vh;
    }
  }