.navbar {
    background-color: rgb(191, 0, 0);
    color: white;
    padding: 1rem 2rem;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .logo-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 10%;
  }
  
  .link-section {
    margin-right: 10%;
  }
  .brand-name {
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #d1d5db;
  }
  
  .search-bar {
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  .mobile-menu-icon {
    display: none;
    font-size: 2rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Mobile Responsive Styles */
  @media (max-width: 768px) {
    .mobile-menu-icon {
      display: block;
    }
  
    .nav-links {
      display: none;
    }
  
    .nav-links-mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: rgb(191, 0, 0);
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      gap: 1rem;
      z-index: 10;
    }
  
    .nav-links-mobile input {
      margin: 0 auto;
      width: 80%;
    }
  }
  